$background: #F7F7F7;
$card-background: #FFFFFF;
$color: #4A4A4A;
$link-color: #1764CC;
$param-color: #000000;
$key-color: #777777;
$border-color: #E4E4E4;
$font: Arial;
$font-weight: 400;
$font-size_header: 24px;
$font-size_text: 15px;
$font-size_description: 14px;
$font-size_login: 16px;
